<div class="menu">
    <nav class="nav2">
        <ul>
            <li><a href="{{ path('profile') }}">Menu Principal Espace Client</a></li>
            <li><a href="{{ path('notif') }}">Messagerie</a></li>
            <li><a href="{{ path('infos_perso') }}">Informations Personnelles</a></li>
            <li><a href="{{ path('favoris') }}">Favoris</a></li>
        </ul>
    </nav>
</div>