{% extends "base.html.twig" %}
{% block body %}
<section class="container">

   {% if contact.sender %}
        <p>De {{ contact.sender.email}}</p>
    {% else %}
        <p>De {{ contact.email}}</p>
    {% endif %}
    <p>Le {{ contact.createdAt|date }}</p>

    <div>{{ contact.message}}</div>

</section>


{% endblock %}
