{% extends "base.html.twig" %}
{% block title %}Notification{% endblock %}
{% block body %}
{% include "profile/nav.html.twig" %}
<h1>page notification</h1>
<input type="button" value="Retour" onclick="history.go(-1)">

{% endblock %}
