html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}
a{
  color:black;
  text-decoration: none;
}
body{
  font-family: var(--texte);
}
.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background: rgb(144, 151, 157);
  z-index: 100;
  padding: 20px;
  position: absolute;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  border-bottom: none;
  color: #0275d8;
}
.container_mentions{
   background: rgb(198, 242, 255);
   padding: 50px;
}
.content_mention{
  margin: 25px 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.content_mention h1,h2,p{
  margin-bottom: 15px;
}
.content_mention h1{
  font-size: 2em;
  font-weight: bold;
}
.content_mention h2{
  font-size: 1.5em;
  font-weight: bold;
}
.content_mention h3,h4{
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px;
}
