{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="" />
    </li>
    <li>
      <img src="" />
    </li>
    <li>
      <img src="" />
    </li>
    <li>
      <img src="" />
    </li>
  </ul>
</div>
<div class="dixAns">
 <h2>Nous avons 10 ans d'expérience dans de différents cas</h2>
</div>
{% endblock %}
