{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Annonce</h1>
    
        {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('annonce_index') }}">retour à l'index</a>
{% endblock %}
