<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="btn btn-danger ml-5 mt-3">Supprimer la categorie</button>
</form>
