{% extends 'back.html.twig' %}

{% block title %}Étude de Maître Régis Richard - Editer la Catégorie

{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-3">Editer la Catégorie</h1>
		<div class="flex mb-5">
			<a class="btn btn-primary " href="{{ path('category_index') }}">Retour</a>
			{{ include('category/_delete_form.html.twig') }}
		</div>	

		{{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
	</div>
{% endblock %}
