{% extends 'back.html.twig' %}

{% block title %}Editer la catégorie{% endblock %}

{% block body %}
    <h1>Editer Catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
