{% extends 'back.html.twig' %}

{% block title %}Nouvelle Catégorie
{% endblock %}

{% block body %}
	<h1 class="ml-5 mb-5">Créez une nouvelle catégorie</h1>

	{{ include('category/_form.html.twig') }}

	<a class="btn btn-primary ml-5" href="{{ path('category_index') }}">Retour</a>

{% endblock %}
