{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="p-5">

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	<button class="btn btn-info">{{ button_label|default('Ajoutez') }}</button>
	{{ form_end(form) }}
</div>
