{% extends 'back.html.twig' %}

{% block title %}Étude de Maître Régis Richard - Nouveau Département

{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">

		<h1 class="mb-5 ml-5">Ajouter un nouveau département</h1>

		{{ include('departement/_form.html.twig') }}
	</div>

	<a class="btn btn-primary ml-5" " href=" {{ path('departement_index') }} ">Retour</a>
{% endblock %}
