@use "../utils/mixins" as *;
.container {
    &_img {
        width: 100%;
    }
    &_imge {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    &_imgs{
        height: 180px;
        width: 100%;
        object-fit: cover;
        margin: 30px 0;
        border-radius: 10px 10px 0 0;
    }
    &_dixAns {
        background: #A8D7F5;
        text-align: center;
        padding: 30px;
        font-size: 1.5em;
        color: #fff;
        margin-top: -4px;
        font-weight: bold;
        line-height: 1.5;
        font-family: var(--title);
    }
    &_propos{
        & h2{
            margin: 30px 0;
            text-align: center;
            font-family: var(--title);
            font-weight: 700;
            font-size: 24px;
        }
        & p{
            text-align: center;
            line-height: 1.6;
            padding: 0 30px;
        }
    }
    &_h2Annonces{
        & h3{
            font-size: 21px;
            font-family: var(--title);
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
        }
        & p{
            text-align: center;
            line-height: 1.6;
            padding: 0 30px;
            color: #8f8f8f;
        }
    }*
    &_allAnnonces{
        padding-bottom: 50px;
    }
    &_annonce{
        box-shadow: 0px 5px 13px 6px #9E9E9E;
        width: 80%;
        margin: 50px auto;
        border-radius: 10px;
        position: relative;
    }
    &_cardimg{
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    & h3{
        font-family: var(--title);
        padding: 20px 0 10px 15px;
        font-size: 18px;
        font-weight: bold;
    }
    & p{
        padding: 0 0 20px 15px;
    }
    &_coeur{
        position: absolute;
        right: 18px;
        bottom: 30px;
        font-size: 22px;
        z-index: 400;
        &:hover{
            background-color: blue;
        }
    }
}
.fa-heart{
    color: red;
}
@include tablette {
    .container{
        &_h2Annonces{
            & h3{
                font-size: 24px;
            }
        }
        &_annonce{
            width: 50%;
        }
    }
  }
@include deckstop{
.container{
    &_annonces{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &_annonce{
        width: 25%;
        margin: 54px 30px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover{
            opacity: .7;
        }
    }
    &_coeur{
        bottom: 40px;
    }
    &_proposIMG{
        display: flex;
        margin-bottom: 80px;
    }
    &_propos{
        padding: 0 100px;
    }
    &_imgs{
        margin: 30px 0 0 0;
        border-radius: 0;
        height: 260px;
    }
    &_img{
        margin-right: 80px;
    }
}
  }