@use "../composants/navigation" as *;
@use "../utils/mixins" as *;
.topHeader {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  &_info {
    padding: 0 30px 0 0;
    display: flex;
    align-items: center;
  }
  & p {
    padding-left: 10px;
  }
  &_logo {
    background-color: var(--color-primary);
    padding: 20px 20px;
    & img {
      width: 25%;
    }
  }
}
.containerHeader .navigation__checkbox:checked ~ .navigation__button .navigation__icon{
  position: fixed;
}
.containerHeader {
  @include navigation;
}

@include tablette {
  .topHeader {
    &_logo {
      & img {
        width: 15%;
      }
    }
  }
}
@include laptop {
  .topHeader {
    &_logo {
      & img {
        width: 10%;
      }
    }
  }
}
@include deckstop {
  .topHeader {
    justify-content: space-between;
    width: 66%;
    &_logo {
      padding: 20px 0 20px 100px;
      & img {
        width: 100%;
      }
    }
    &_info {
      text-align: right;
    }
    &_2 {
      margin-right: -110px;
    }
  }
  .containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary);
  }
}
