@use "../composants/flexslider" as *;
@use "../utils/mixins" as *;
.show {
    @include flexslider;
    margin-top: 50px; 
    & .slider {
        display: none;
    }
}

.details__Annonce{
    text-align: center;
    box-shadow: var(--box-shadow);
    margin: 15px;
    width: 50%;
    padding-bottom: 30px;
    @include details;
}

@include deckstop{
    .show{
        width: 70%;
        margin: 50px auto;
        & .info{
            text-align: center;
            margin: 0 0 10px 0;
            padding: 0;
            font-size: 2em;
            font-weight: bold;
        } 
        & .prix{
            text-align: center;
            font-size: .8em;
            color: #771310;
            font-weight: bold;
        }
        & .details__Annonce p{
            padding: 10px;
        }
        & .slider {
            display: block;
        }

           
    }
    .display{
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        box-shadow: var(--box-shadow);
        & .energetique{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        & .details__Annonce{
            box-shadow: none;
            line-height: 2;

        }
    }
    .display.flexslider.ul li img{
        width: 100%;
    }
}
.flex-control-paging li a.flex-active{
    margin: 10px 0;
}