{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1 style="text-align:center"; >Home Page</h1>
    <div class="boite">
        <p style="text-align:center;font-size:4em;margin-top:20%;">{{ date | date("d/m/Y") }}</p>
        <p style="text-align:center;font-size:3em">{{ date | date("H:i") }}</p>
    </div>
    
{% endblock %}
