body {
    background-color: rgb(197, 31, 31);
}
.btn-primary {
    background-color: #0275d8;
    color: #fff;
}
.btn-primary:hover {
    opacity: 0.8;
    background-color: #0275d8;
    color: #fff;
}
a {
    color: #0275d8;
}
.action:hover {
    text-decoration: none;
}
.boxshadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.56);
}
.btn-danger {
    color: #fff;
}
.btn-danger:hover {
    color: #fff;
}
.form {
    margin: 0 40px;
}
textarea.form-control  {
    resize: none;
    height: 150px;
}
.flex{
    display: flex;
    align-items: center;
}
.mt-3{
    margin-top: 0 !important;
}