{% extends 'back.html.twig' %}

{% block title %}Éditer une Ville
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="ml-5 mb-3">Éditer une Ville</h1>
		<div class="flex ml-5">
			<a class="btn btn-primary" href="{{ path('ville_index') }}">Retour</a>
			{{ include('ville/_delete_form.html.twig') }}
		</div>

		{{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}
	</div>

{% endblock %}
