{% extends 'back.html.twig' %}

{% block title %}Ajoutez une Ville{% endblock %}

{% block body %}
    <h1>Créez une nouvelle Ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a class="btn-primary ml-5 p-2" href="{{ path('ville_index') }}">Retour</a>
{% endblock %}
