{% extends 'back.html.twig' %}

{% block title %}Étude de Maître Régis Richard - Ajoutez une Ville
{% endblock %}


{% block body %}
    <h1>Ajouter une nouvelle Ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a class="btn btn-primary ml-5" href="{{ path('ville_index') }}">Retour</a>
{% endblock %}
