{% extends 'base.html.twig' %}

{% block title %}New Contact
{% endblock %}

{% block body %}
<div class="container_boite">
	<h1 class="container_title">Contactez-nous</h1>
	<p class="container_para">
		<a href="{{path('home')}}">Acceuil</a>
		-
		Contact
	</p>
</div>

	{{ include('contact/_form.html.twig') }}
{% endblock %}
