{% extends "base.html.twig" %}
{% block body %}
	<section class="attente">
		<h1>Bonjour, un email de confirmation vous à été envoyé.</h1>

		<p>Veuillez confirmer votre adresse e-mail afin de valider votre compte.</p>
		<p class="attente_error">ATTENTION LE LIEN S'EXPIRA DANS 1H !</p>
	</section>

{% endblock %}

