{% extends "base.html.twig" %}
{% block body %}
<h1>Bonjour, un email de confirmation vous à été envoyé.</h1>

<p> Veuillez confirmer votre adresse e-mail afin de valider votre compte.</p>
<p>Le lien expirera dans 1h.</p>
{% endblock %}
